body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

h1 {
    margin: 0px;
    padding: 10px;
    width: 20%;
}

ul{ 
    margin: 0px;
}
body > header {
    background-color: lightblue;
    color:  darkblue;
    text-decoration: none;
    display: flex;
    height: 12vh;   
    align-items: center;
    justify-content: space-around;
}
#nav-ul {
    display: flex;
}
#nav-ul > li {
    padding: 20px ;
    margin: 10px ;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding:  12px;
    border: 1px solid darkblue;
    border-radius: 20px;
}
body > header > nav > ul {
    list-style: none;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
     display: flex;
     justify-content: space-around;
}
#main-content > div{ 
    width: 70% ;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}
body > footer {
    background-color: lightblue;
    display: flex;
}

img {
    border-radius: 100%;
}
#footer-ul {
    display: flex;
    list-style: none;
}
#footer-ul > div > li {
    margin-left: 12px;
}
#footer-ul > div > li > a {
    color: darkblue;
    text-decoration: none;

}